@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url('../assets/papel\ 1.jpg');
    background-size: cover;
    background-position: center;
    color: #333;
    font-family: "Cabin", sans-serif;
    font-weight: 200;
    font-size: 25px;
    padding: 50px;
    text-align: center;

    .menu {
        text-align: center;
    }
    .menu a {
        display: inline-block;
        margin: 10px;
        color:#333;
    }
}